@page "/"
@inherits Core


<h1>Hello, world!</h1>

<button class="btn btn-primary" onclick="@Frame">Frame</button>
<button class="btn btn-primary" onclick="@Evolve">Evolve</button>


<BECanvas ref="@_canvas" Height="500" Width="500"></BECanvas>
